.formContainer {
  background-color: #f1f1f1;
  min-height: 100vh;
}

.back {
  padding-top: 50px;
  display: flex;
  margin-left: 50px;
  cursor: pointer;
}

.formDetails {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
   padding-bottom: 100px;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 48px;
  width: 30%;
  height: 100vh;
}

.form p {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 1.14px;
  color: #000;
  margin-bottom: 50px;
}

.form h1 {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.92;
  letter-spacing: 0.93px;
  color: #d87d4a;
  margin-bottom: 16px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.formControl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.formControl label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.21px;
  color: #000;
}

.formControl input {
  border-radius: 8px;
  border: solid 1px #cfcfcf;
  background-color: #fff;
  outline: 0;
  padding: 8px;
}

.summaryContainer {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  width: 20%;
}

.summary {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
  color: #000;
  margin-bottom: 30px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.productDetails img {
  height: 50px;
  width: 50px;
}

.priceDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.priceDetails .abr {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
  color: #000;
}

.priceDetails .price {
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.79;
  color: #000;
}
.cartCount {
  opacity: 0.5;
  font-family: Manrope;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
  color: #000;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.detailsContainer .label {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
  color: #000;
}

.detailsContainer .ans {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.detailsContainer .grandTotal {
  font-size: 18px;
  font-weight: bold;
  color: #d87d4a;
  margin-bottom: 10px;
}

.summaryContainer .btn {
  outline: 0;
  border: 0;
  background-color: #d87d4a;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .formDetails {
    display: flex;
    flex-direction: column;
    margin-top: 350px;
  }

  .form {
    width: 80%;
  }
  .flex {
    flex-direction: column;
  }

  .summaryContainer {
    width: 80%;
    margin-bottom: 350px;
  }
}

@media screen and (min-width: 1200px) {
}
