.forgotPasswordContainer{
    display: flex;
    place-items: center;
    height:100vh;
    background: #ff4b1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
    background: linear-gradient(to right, #ff9068, #ff4b1f); 
}




.container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    max-width:600px;
    width:90%;
    margin:0 auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
}



.heading{
    color:#323232;
    font-size: 22px;
    font-weight: bold;
}

.inputStyles{
    border:1px solid #000;
    /* border-radius: 25%; */
    margin-right:10px;
    width: 50px!important;
    height:50px;
    border-radius: 50%;
}
.inputStyles:hover,.inputStyles:focus{
    border:1px solid #f47458;
}
.button{
    border-radius: 32px;
    box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff432a;
    border:0;
    outline:0;
    cursor: pointer;
    color:#fff;
    font-size: 14px;
    padding:12px 16px;
    width:50%;
}
