.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 168px;
  padding: 20px;
}
.products {
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 30px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 50%;
  width: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading {
  margin: 50px 0px 15px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
  color: #000;
}

.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.navigate span {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}

.navigate img {
  height: 15px;
  width: 15px;
}
.boxContainer {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 20px;
}

.box {
  border-radius: 8px;
  background-color: #d87d4a;
  position: relative;
  padding-right: 130px;
}

.flex {
  display: flex;
  position: absolute;
  top: 50px;
  left: 200px;
  padding: inherit;
  gap: 50px;
}

.box .pattern {
  max-width: 650px;
  height: 350px;
}

.img img {
  width: 70%;
  height: 100%;
}

.boxDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.boxDetails h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.04;
  letter-spacing: 2px;
  color: #fff;
}

.boxDetails p {
  opacity: 0.75;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.boxDetails button {
  background-color: #000;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: start;
}
/* 
secondBoxContainer */

.secondBoxContainer {
  display: flex;
  border-radius: 8px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  align-items: center;
}
.speakerDetails {
  position: absolute;
  margin-left: 80px;
}
.speakerDetails h1 {
  margin: 0 0 32px 0px;
  font-family: Manrope;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
}

.speakerDetails button {
  border: 0;
  outline: 0;
  background-color: transparent;
  border: solid 1px #000;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  padding: 20px;
  cursor: pointer;
}

/* thirdBoxContainer */

.thirdBoxContainer {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 20px;
  display: flex;
  gap: 30px;
}

.earphoneDetails {
  border-radius: 8px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.earphoneDetails h1 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
  margin-bottom: 32px;
}

.earphoneDetails button {
  border: 0;
  outline: 0;
  cursor: pointer;
  border: solid 1px #000;
  background: transparent;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .image {
    height: 60%;
    width: 60%;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box {
    position: static;
  }

  .flex {
    flex-direction: column;
    position: static;
  }

  .box {
    padding: 20px;
  }
  .box .pattern {
    position: absolute;
    z-index: 1;
    max-width: 350px;
  }

  .img img {
    z-index: 2;
    position: relative;
    top: 20px;
    left: 70px;
    right: 0;
    bottom: 0;
    max-width: 300px;
    max-height: 300px;
  }
  .boxDetails {
    align-items: center;
  }

  .secondBoxContainer {
    display: none;
  }

  .thirdBoxContainer {
    flex-direction: column;
  }
  .earphoneDetails {
    padding: 20px;
  }
}
