.modal-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal-content {
  border-radius: 8px;
  background-color: #fff;
  padding: 25px;
  margin-right: 20px;
  margin-top: 100px;
  min-width: 300px;
}

.modal-backdrop-pathname {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-pathname {
  border-radius: 8px;
  background-color: #fff;
  padding: 25px;
}
